.about-company {
  padding-top: 60px;
  padding-bottom: 100px;

  @media (max-width: $vp-1023) {
    padding-top: 36px;
    padding-bottom: 79px;
  }

  @media (max-width: $vp-767) {
    padding-top: 25px;
    padding-bottom: 77px;
  }
}

.about-company__wrapper {
  position: relative;
  padding-left: 250px;
  max-width: 1220px;
  min-height: 320px;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -5px;
    width: 150px;
    height: 320px;
    background-image: url("../img/2022.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: $vp-767) {
      display: none;
    }
  }

  @media (max-width: $vp-1023) {
    padding-left: 175px;
    width: 674px;
    min-height: 380px;
  }

  @media (max-width: $vp-767) {
    padding-left: 0;
    width: 100%;
    min-height: 100%;
  }
}

.about-company__wrapper h2 {
  margin: 0;
  margin-bottom: 12px;
  font-family: $ff-roboto-condensed;
  font-size: 36px;
  line-height: 51px;

  @media (max-width: $vp-1023) {
    margin-bottom: 11px;
    font-size: 36px;
  }

  @media (max-width: $vp-767) {
    font-size: 28px;
    line-height: 39px;
  }
}

.about-company__wrapper p {
  margin: 0;
  margin-bottom: 20px;

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 19px;
  }
}

.about-company__drop-down-btn {
  display: none;
}

.about-company__drop-down-js {
  height: 230px;
  overflow-y: hidden;

  @media (max-width: $vp-1023) {
    height: 340px;
  }

  @media (max-width: $vp-767) {
    height: 260px;
  }
}

.about-company__drop-down {
  height: 100%;
}

.about-company__drop-down-js.show-more {
  height: 100%;
  transition: 0.3s ease-in;
}

.about-company__drop-down-btn-js {
  display: block;
  margin-top: 23px;
  padding: 14px 12px;
  min-width: 180px;
  min-height: 45px;
  font-family: $ff-roboto-condensed;
  text-align: center;
  border: 1px solid $color-deep-sky-blue;
  color: $color-deep-sky-blue;

  @media (max-width: $vp-1023) {
    margin-top: -3px;
  }

  @media (max-width: $vp-767) {
    margin-top: 13px;
    padding: 0;
    min-width: 160px;
    min-height: 35px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.05em;
  }
}

.about-company__drop-down-btn:focus {
  border: 1px solid $color-black-pearl;
}

.about-company__drop-down-btn:hover {
  border: 1px solid $color-black-pearl;
}

.about-company__drop-down-btn:active {
  border: 1px solid $color-deep-sky-blue;
}
