.accordion.active .accordion__content {
  @media (max-width: $vp-767) {
    transition: max-height 0.4s ease-in;
    // max-height: 100%;
    display: flex;
  }
}

.accordion.active .accordion__header {
  @media (max-width: $vp-767) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 20px;
      right: 2px;
      width: 15px;
      height: 15px;
      background-image: url("../img/icon-minus.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.accordion__header {
  @media (max-width: $vp-767) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 20px;
      right: 2px;
      width: 15px;
      height: 15px;
      background-image: url("../img/icon-plus.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.accordion__content {
  @media (max-width: $vp-767) {
    // max-height: 0;
    // overflow: hidden;
    display: none;
  }
}
