.features {
  padding-top: 120px;
  padding-bottom: 60px;

  @media (max-width: $vp-1024) {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  @media (max-width: $vp-767) {
    padding-top: 50px;
    padding-bottom: 25px;
  }
}

.features__wrapper {
  margin: 0 auto;
  max-width: 1220px;

  @media (max-width: $vp-1024) {
    max-width: 670px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 35px;
  row-gap: 30px;
  width: 100%;

  @media (max-width: $vp-1024) {
    column-gap: 30px;
    row-gap: 30px;
  }

  @media (max-width: $vp-767) {
    grid-template-columns: 1fr;
  }
}

.features__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-right: 45px;
  padding-bottom: 35px;
  padding-left: 45px;
  min-height: 300px;
  border: 1px solid rgba(235, 235, 235, 1);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 4px;
    background-color: $color-deep-sky-blue;
  }

  @media (max-width: $vp-1024) {
    padding-top: 40px;
    padding-right: 45px;
    padding-bottom: 35px;
    padding-left: 45px;
    min-height: 360px;
  }

  @media (max-width: $vp-767) {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
    padding-left: 30px;
    min-height: 340px;
    width: 100%;
  }
}

.features__item:hover {
  background-color: $color-deep-sky-blue;
  transition: 0.4s;
}

.features__item:hover h2,
.features__item:hover p,
.features__item:hover svg {
  color: $color-alice-blue;
  stroke: $color-alice-blue;
}

.features__item h2 {
  margin: 0;
  margin-bottom: 15px;
  font-family: $ff-roboto-condensed;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: $color-deep-sky-blue;

  @media (max-width: $vp-1024) {
    font-size: 24px;
    line-height: 34px;
  }

  @media (max-width: $vp-767) {
    font-size: 20px;
    line-height: 19px;
  }
}

.features__item p {
  margin: 0;

  @media (max-width: $vp-768) {
    font-size: 14px;
    line-height: 19px;
  }
}

.features__item svg {
  margin-bottom: 20px;
  fill: $color-deep-sky-blue;
  width: 35px;
  height: 35px;

  @media (max-width: $vp-767) {
    width: 30px;
    height: 30px;
  }
}
