.feedback {
  padding-top: 165px;
  padding-bottom: 213px;
  min-height: 838px;
  background-image: url("../img/content/fon.png");
  background-size: cover;

  @media (max-width: $vp-1023) {
    padding-top: 46px;
    padding-bottom: 46px;
    min-height: 580px;
    background: $color-deep-sky-blue;
  }

  @media (max-width: $vp-767) {
    padding-top: 47px;
    padding-bottom: 30px;
    min-height: 750px;
  }
}

.feedback__wrapper {
  margin: 0 auto;
  max-width: 1220px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;

  @media (max-width: $vp-1023) {
    grid-template-columns: 1fr;
  }
}

.feedback__img {
  margin-top: 81px;

  @media (max-width: $vp-1023) {
    display: none;
  }
}

.feedback__form-wrapper {
  padding-right: 10px;

  @media (max-width: $vp-1023) {
    padding-right: 0;
  }
}
