.form-callback {
  display: flex;
  flex-direction: column;
  color: $color-default-white;
}

.form-callback h2 {
  margin: 0;
  margin-bottom: 3px;
  font-family: $ff-roboto-condensed;
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
}

.form-callback p {
  margin: 0;
  margin-bottom: 40px;
}

.form-callback input[type="text"],
.form-callback input[type="tel"] {
  margin-bottom: 20px;
  padding: 15px;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 3px;
  background-color: rgba(4, 20, 39, 0.15);

  &::placeholder {
    font-family: $ff-placeholder;
    line-height: 22px;
    color: $color-default-white;
  }
}

.form-callback textarea {
  margin-bottom: 25px;
  padding: 25px 15px;
  width: 100%;
  height: 155px;
  border: none;
  border-radius: 3px;
  background-color: rgba(4, 20, 39, 0.15);

  &::placeholder {
    font-family: $ff-placeholder;
    line-height: 22px;
    color: $color-default-white;
  }
}

.form-callback__btn {
  margin-bottom: 15px;
  padding: 15px;
  width: 100%;
  line-height: 19px;
  text-align: center;
  color: $color-default-white;
  background-color: $color-black-pearl;
}

.form-callback__btn:focus {
  outline: 1px solid $color-default-white;
}

.form-callback__btn:hover {
  outline: 1px solid $color-default-white;
}

.form-callback__checkbox-wrapper {
  position: relative;
}

.form-callback input[type="checkbox"] {
  width: 0;
  height: 0;
  margin: 0;
  appearance: none;
}

.form-callback input[type="checkbox"] + label {
  position: relative;
  padding-left: 33px;
  font-family: $ff-placeholder;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 6px;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid $color-default-white;
    border-radius: 2px;
  }
}

.form-callback input[type="checkbox"]:focus + label::before {
  outline: 1px solid $color-torch-red;
}

.form-callback input[type="checkbox"]:checked + label::before {
  background-image: url("../img/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form-callback__checkbox-wrapper span {
  display: block;
  position: absolute;
  top: 40px;
  left: -19px;
  padding: 8px 8px 8px 40px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  background-color: $color-alice-blue;
  border-radius: 5px;
  color: $color-default-black;

  &::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 19px;
    width: 15px;
    height: 15px;
    background-color: $color-alice-blue;
    transform: rotate(45deg);
  }

  &::after {
    content: "!";
    position: absolute;
    top: 8px;
    left: 9px;
    width: 20px;
    height: 20px;
    background-color: $color-orange;
    color: $color-alice-blue;
    text-align: center;
  }
}

.form-callback input[type="checkbox"]:checked + label + span {
  display: none;
}
