.hero {
  font-family: $ff-roboto-condensed;
  color: $color-alice-blue;
}

.hero__wrapper {
  margin: 0 auto;
  max-width: 1220px;
  padding-top: 342px;
  padding-left: 125px;

  @media (max-width: $vp-1023) {
    padding-top: 180px;
    padding-left: 0;
  }

  @media (max-width: $vp-767) {
    padding-top: 150px;
  }
}

.hero h2 {
  margin: 0;
  margin-bottom: 69px;
  font-weight: 700;
  font-size: 80px;
  line-height: 21px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  @media (max-width: $vp-1023) {
    margin-bottom: 1px;
    font-size: 64px;
    line-height: 75px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 7px;
    font-size: 36px;
    line-height: 42px;
  }
}

.hero p {
  margin: 0;
  margin-bottom: 47px;
  font-family: $ff-placeholder;
  font-size: 22px;
  line-height: 34px;
  max-width: 685px;
  text-transform: lowercase;

  @media (max-width: $vp-1023) {
    margin-bottom: 56px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 45px;
    font-size: 14px;
    line-height: 22px;
  }
}

.hero a {
  display: block;
  margin-bottom: 100px;
  padding: 15px 25px;
  width: 410px;
  min-height: 55px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: inherit;
  text-transform: uppercase;
  text-align: center;
  background-color: $color-deep-sky-blue;
  border-radius: 3px;

  @media (max-width: $vp-1023) {
    margin-left: 45px;
    width: 410px;
  }

  @media (max-width: $vp-767) {
    display: none;
  }
}

.hero a + a {
  display: none;

  @media (max-width: $vp-767) {
    display: block;
    margin-bottom: 50px;
    margin-left: 0;
    padding: 12px 30px;
    font-size: 14px;
    line-height: 16px;
    width: 270px;
    min-height: 40px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
  }

  @media (max-width: $vp-320) {
    width: 100%;
    padding: 12px 20px;
  }
}

.hero a:hover {
  outline: 1px solid $color-default-white;
}

.hero a:active {
  outline: 1px solid $color-default-black;
}
