.hero-header-wrapper {
  min-height: 880px;
  background-color: $color-black-pearl;
  background-image: url("../img/content/promo-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $vp-1024) and (min-resolution: 2dppx) {
    background-image: url("../img/content/promo-desktop@2x.jpg");
  }

  @media (max-width: $vp-1023) {
    min-height: 640px;
    background-image: url("../img/content/promo-tablet.jpg");
  }

  @media (max-width: $vp-1023) and (min-resolution: 2dppx) {
    background-image: url("../img/content/promo-tablet@2x.jpg");
  }

  @media (max-width: $vp-320) {
    min-height: 560px;
    background-image: url("../img/content/promo-mobile.jpg");
  }

  @media (max-width: $vp-320) and (min-resolution: 2dppx) {
    background-image: url("../img/content/promo-mobile@2x.jpg");
  }
}
