.logo {
  @media (max-width: $vp-767) {
    width: 35px;
    height: 35px;
  }
}

.logo img {
  width: 215px;
  height: 55px;

  @media (max-width: $vp-767) {
    width: 35px;
    height: 35px;
  }
}
