.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding-top: 30px;
  padding-bottom: 35px;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);

  @media (max-width: $vp-1023) {
    padding-top: 20px;
    padding-bottom: 25px;
  }

  @media (max-width: $vp-767) {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  padding-right: 60px;
  max-width: 1220px;

  @media (max-width: $vp-1023) {
    justify-content: space-between;
    padding-right: 20px;
  }

  @media (max-width: $vp-767) {
    padding-left: 0;
    padding-right: 10px;
  }
}

.page-header__btn {
  margin-top: 6px;
  margin-left: 20px;
  padding: 10px 15px;
  border: 1px solid $color-alice-blue;
  color: $color-alice-blue;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.05em;
  min-width: 160px;
  border-radius: 3px;

  @media (max-width: $vp-1023) {
    display: none;
  }
}

.page-header__btn:focus {
  color: rgba(255, 255, 255, 0.6);
}

.page-header__btn:hover {
  color: rgba(255, 255, 255, 0.6);
}

.page-header__btn:active {
  outline: 1px solid $color-deep-sky-blue;
}
