.social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 10px;
  padding: 0;
  list-style: none;
  max-width: 220px;
}

.social__item:not(:last-child) {
  margin-right: 15px;

  @media (max-width: $vp-1023) {
    margin-right: 12px;
  }
}

.social__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.social__item a:hover {
  border: 1px solid $color-default-white;
  border-radius: 50%;
}

.social__item a svg {
  width: 40px;
  height: 40px;

  @media (max-width: $vp-767) {
    width: 40px;
    height: 40px;
  }
}
